@using Microsoft.AspNetCore.Authorization
@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="scrollable-card">
    <h1>Welcome to B#</h1>

    This application is an example of how simple and performant Blazor web assembly applications can be using ASP.NET Identity for security and no custom Javascript.
</div>

