@inherits LayoutComponentBase

<BlazorStack.Portal.Components.NotificationDisplay />
<div style="background-color: var(--background); min-height: 100vh; display: flex; margin-top: 15%; justify-content: center;">
    @Body
</div>