@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        Logged in as @context.User.Identity?.Name. <a href="logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="login"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
        <a href="register"><i class="fa-solid fa-pen-to-square"></i> Register</a>
    </NotAuthorized>
</AuthorizeView>

@Body
