@if (isVisible)
{
    <div class="modal" style="display:block;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: var(--primary);">
                <span>@Title</span>
                <span class="close" @onclick="ToggleModal">&times;</span>
            </div>
            @ChildContent
            <div class="modal-footer">
                <button @onclick="@(async () => await OnSubmit.InvokeAsync())">Submit</button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool isVisible { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public void ToggleModal()
    {
        isVisible = !isVisible;
    }
}